@import 'libs/normalize';

.content {
  height: 100vh;
  background-image: url(../img/FAQ.jpg);
  background-size: cover;
}
.terms {
}
.terms__title {
}
.terms__steps {
}
.step {
}
.step-text {
}
.step-number {
}
.step-info {
}
.bonus-code {
}
.bottom-shadow {
}
