@import 'libs/normalize';

body {
  overflow-x: hidden;
}
.content {
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/background.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  line-height: 1.4;
  color: #fff;
}

:root {
  font-size: 0.9px;
}

.container {
  max-width: 1620rem;
  width: 100%;
  margin: 0 auto;
}
.content__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;
}
.content-main {
  display: flex;
  margin-top: 60rem;
  margin-bottom: 60rem;
}
.content-main__left {
  display: flex;
  flex-direction: column;
  max-width: 905rem;
  width: 100%;
  text-align: center;
}
.leaf-1 {
  position: absolute;
  left: -8rem;
  width: 150rem;
  top: 54rem;
}
.leaf-2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.pumpcin {
  position: absolute;
  top: 38rem;
  left: 50%;
}

.lantern {
  position: absolute;
  top: 0;
  right: 32%;
}
@keyframes swinging {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.swingimage {
  transform-origin: 50% 0;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

.content-main__title {
  font-weight: 900;
  font-size: 28rem;
  margin-bottom: 15rem;
}
.content-main__text {
  font-weight: 400;
  font-size: 22rem;
  text-align: center;

  margin-bottom: 15rem;
  span {
    color: #fe832f;
  }
}
.content-main__rules {
  font-size: 22rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40rem;
}

.content-main__right {
  margin-left: 117rem;
}
.content-main__btns {
  a {
    color: #fff;
    text-decoration: none;
  }
  margin: 40rem 0 30rem 0;
}
.btn {
  font-weight: 500;
  font-size: 36rem;
  position: relative;
  width: 350rem;
  padding: 19rem 51rem;
  margin: 0 20rem;
  z-index: 1;
  &::before {
    z-index: -1;

    transform: skew(-10deg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: '';
    background: linear-gradient(90deg, #ffa72e 0%, #fe7530 100%), #c4c4c4;
  }
}

.terms {
  cursor: pointer;
  font-size: 28rem;
  font-weight: 500;
}

.content-steps {
  display: flex;
  justify-content: space-around;
  margin-bottom: 48rem;
}
.step {
  display: flex;

  align-items: center;
  z-index: 1;
  position: relative;
  width: 445rem;
  height: 120rem;
  font-weight: 500;
  font-size: 22rem;
  &::before {
    z-index: -1;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 21, 33, 0.8);
    width: 445rem;
    height: 120rem;
    transform: skew(-10deg);
    border-left: 20rem solid #fe7530;
  }
  span {
    font-size: 72rem;
    font-weight: 900;
    margin-right: 30rem;
    margin-left: 50rem;
  }
  a {
    text-decoration: none;
    margin-right: 5rem;
    color: #ffa32e;
  }
}

.turkey {
  width: 300px;
  position: absolute;
  top: -83%;
  left: 30%;
}

.content-footer {
  font-weight: 300;
  font-size: 24rem;
  font-style: italic;
  text-align: center;
  div:first-child {
    margin-bottom: 10rem;
  }
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(14, 20, 28, 0.7);
  z-index: 200;
  visibility: hidden;
  &.visible {
    visibility: visible;
  }
}
.popup-box {
  position: relative;
  max-width: 1110rem;
  padding: 55rem 45rem;
  font-weight: 400;
  font-size: 24rem;
  text-align: center;
  background: #0e141c;
  border: 2px solid #92a7c2;
  border-radius: 35px;
  p {
    margin: 15rem 0;
  }
}
.popup-close {
  cursor: pointer;
  position: absolute;
  right: -30rem;
  top: -30rem;
  background: linear-gradient(180deg, #fe7530 0%, #ffa72e 100%);
  width: 70rem;
  height: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 48rem;
  font-weight: 900;
  border-radius: 50%;
}
.bonus-code {
  font-size: 28rem;
  font-weight: 700;
  span {
    display: block;
    color: #fe832f;
    font-size: 48rem;
  }
}

@media (max-width: 1700px) {
  :root {
    font-size: 0.9px;
  }
}
@media (max-width: 1600px) {
  .leaf-1 {
    top: 15rem;
  }
  .lantern {
    right: 29%;
  }
}
@media (max-width: 1500px) {
  .pumpcin {
    left: 60%;
  }
  .content-main__right {
    display: none;
  }
  .lantern {
    right: 2%;
  }
  .content-main {
    justify-content: center;
    margin-right: 150rem;
    margin-top: 0;
    margin-bottom: 100rem;
  }
}

@media (max-width: 1340px) {
  .lantern {
    display: none;
  }
  .content-main {
    margin-right: 0;
  }
  .content-steps {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .content-main {
    margin-bottom: 20rem;
  }
  .step {
    margin: 37rem 0;
  }
  .content-footer {
    margin-bottom: 60rem;
  }
}
@media (max-width: 1200px) {
  .leaf-2 {
    display: none;
  }
  .terms {
    margin: 10rem 0;
  }
  .popup-box {
    max-width: 80%;
  }
}

@media (max-width: 1000px) {
  .leaf-1 {
    display: none;
  }
  .pumpcin {
    left: 70%;
    top: 10rem;
  }
  .content-footer {
    padding: 0 20rem;
  }
}

@media (max-width: 855px) {
  .title-img {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10rem;
  }
  .content-main {
    padding: 40rem;
    padding-bottom: 0;
  }
  .btn {
    display: block;
    margin: 30rem auto;
  }
  .content-main__btns {
    margin: 0;
  }
}
@media (max-width: 750px) {
  :root {
    font-size: 0.7px;
  }
  .turkey {
    display: none;
  }
  .step {
    margin: 20rem 0;
  }
}
@media (max-width: 670px) {
  .popup-box {
    max-width: 60%;
  }
}
@media (max-width: 500px) {
  .pumpcin {
    right: 0%;
    left: auto;
  }
}
@media (max-width: 420px) {
  .popup-box {
    max-width: 70%;
  }
  .pumpcin {
    display: none;
  }
  .step {
    font-size: 20rem;
    width: 360rem;
    &::before {
      width: 360rem;
    }
  }
  .btn {
    width: 250rem;
    font-size: 25rem;
  }
  .title-img {
    margin-bottom: 10rem;
  }
  .content-main__title {
    font-size: 24rem;
  }
}
