@import 'libs/normalize';

.content {
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/background.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  line-height: 1.4;
  color: #fff;
}

:root {
  font-size: 1px;
}

.container {
  max-width: 1620rem;
  width: 100%;
  margin: 0 auto;
}
.content__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;
}
.content-main {
  display: flex;
  margin-top: 140rem;
}
.content-main__left {
  display: flex;
  flex-direction: column;
  max-width: 905rem;
  width: 100%;
  text-align: center;
}
.leaf-1 {
  position: absolute;
  left: 0;
  width: 150rem;
  top: 54rem;
}
.leaf-2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.pumpcin {
  position: absolute;
  top: 38rem;
  left: 50%;
}

.lantern {
  position: absolute;
  top: 0;
  right: 32%;
}
@keyframes swinging {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.swingimage {
  transform-origin: 50% 0;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

.content-main__title {
  font-weight: 900;
  font-size: 28rem;
  margin-bottom: 15rem;
}
.content-main__text {
  font-weight: 500;
  font-size: 22rem;
  text-align: center;
  margin-bottom: 15rem;
}
.content-main__rules {
  font-size: 22rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40rem;
}

.content-main__right {
  margin-left: 117rem;
}
.content-main__btns {
  a {
    color: #fff;
    text-decoration: none;
  }
}
.leader-btn {
  font-weight: 500;
  font-size: 36rem;
  position: relative;
  width: 350rem;
  padding: 19rem 51rem;
  z-index: 1;
  &::before {
    z-index: -1;

    transform: skew(-10deg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: '';
    background: linear-gradient(90deg, #ffa72e 0%, #fe7530 100%), #c4c4c4;
  }
}

.terms {
  margin-left: 25rem;
  font-size: 28rem;
  font-weight: 500;
}

.content-steps {
  display: flex;
  justify-content: space-around;
  margin-bottom: 48rem;
}
.step {
  display: flex;

  align-items: center;
  z-index: 1;
  position: relative;
  width: 445rem;
  height: 120rem;
  font-weight: 500;
  font-size: 22rem;
  &::before {
    z-index: -1;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 21, 33, 0.8);
    width: 445rem;
    height: 120rem;
    transform: skew(-10deg);
    border-left: 20rem solid #fe7530;
  }
  span {
    font-size: 72rem;
    font-weight: 900;
    margin-right: 30rem;
    margin-left: 50rem;
  }
  a {
    text-decoration: none;
    margin-right: 5rem;
    color: #ffa32e;
  }
}

.turkey {
  width: 300px;
  position: absolute;
  top: -83%;
  left: 30%;
}

.content-footer {
  font-weight: 300;
  font-size: 24rem;
  font-style: italic;
  text-align: center;
  div {
    margin-bottom: 10rem;
  }
}

@media (max-width: 1700px) {
  :root {
    font-size: 0.9px;
  }
}
@media (max-width: 1600px) {
  .leaf-1 {
    top: 15rem;
  }
  .lantern {
    right: 29%;
  }
}
@media (max-width: 1500px) {
  .content-main__right {
    display: none;
  }
  .lantern {
    right: 5%;
  }
  .content-main {
    justify-content: center;
    margin-right: 150rem;
    margin-top: 0;
    margin-bottom: 100rem;
  }
}
